body{
    background-color: black;

}

.parallax {
    /* The image used */
    background-image: url("../green1.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .para-text1{
    height:300px;
    color: white;
    text-align:center;

  }

  .parallax1{
    /* The image used */
    background-image: url("../green1.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


