#problem{
    padding: 100px;
    border-style: solid dashed;
    background-color: #18191A;
    text-align: center;
    color: white;
}
#prob-state{
    padding-top: 20px;
    
}

#need{
    padding: 100px;
    background-color: #18191A;
    text-align: center;
    color: white;
    border-style: solid dashed;
}
#need-state{
    padding-top:20px;
}

#bottom-row{
    border: groove gray 3px;
    background-color: #18191A;
    text-align: center;
    color: white;
    padding: 1em 1em;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.col{
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
}




